*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(https://media.istockphoto.com/id/1294603953/es/vector/parte-diagonal-de-las-rayas-negras-abstractas.jpg?s=612x612&w=0&k=20&c=X03bsGgJqAhik-P5OOreFc4eNIrDHUF2sswozJQ97qE=);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
