// HEADER
.divHeader{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "logo usuario"
    "logo usuario";
}

.usuario{
    grid-area: usuario;
    display: flex;
    align-self: center;
}

.redes{
    grid-area: redes;
    display: flex;
}

.logo{
    grid-area: logo;
}

.navColor{
    background-color: map-get($paleta_color , "principal");
}

.botonBrown{
    background-color: map-get($paleta_color , "secundario");
    color: map-get($paleta_color , "titulos");
    &:hover{
        background-color: map-get($paleta_color , "hover");
        color: map-get($paleta_color , "titulos");
    }
}
