// HEADER
.divHeader{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "logo usuario"
    "logo usuario";
}

.usuario{
    grid-area: usuario;
    display: flex;
    align-self: center;
}

.redes{
    grid-area: redes;
    display: flex;
}

.logo{
    grid-area: logo;
}

.navColor{
    background-color: $c-primario;
}

.botonBrown{
    background-color: $c-secundario;
    color: $c-titulos;
    &:hover{
        background-color: rgba(75, 75, 75, 0.945);
        color: antiquewhite;
    }
}
