/* estilo main index */


.titulo{
    font-size: large;
    color: map-get($paleta_color , "titulos");
}

.img{
    @include gif(80%, 300px);
    display: flex;
    align-self: center;
}

.colorTexto{
    font-size: small;
    color: map-get($paleta_color , "titulos");
    text-align: start;
}

.video{
    width: 90%;
    display: flex;
    justify-self: center;
}

/* estilo main paginas */
.gif{
   @include gif(200px, 300px);
}

.fuenteTitulo{
    font-family: $fuenteTitulo;
}

.fuenteTexto{
    font-family: $fuenteTexto;
}

.tituloH1{
    font-family: $fuenteH1;
    color: map-get($paleta_color , "titulos");
}

.imgif{
    @include gif(3%, 3%) ;
}

.bgContacto{
   background-color: map-get($paleta_color , "principal");
}

.mainH{
    height: 78vh;
    overflow-y: hidden;
}