// VARIABLES BACKGROUNDS

$bgBody: url(../images/bgImages/bgBody.svg);

// MAPS

$paleta_color: (
    "principal": #A63C3C,
    "secundario": #594E4D,
    "titulos": rgb(233, 235, 235),
    "hover": rgba(75, 75, 75, 0.945)
    );

// VARIABLES FUENTES

$fuenteTitulo: 'Courier New', Courier, monospace;;
$fuenteTexto: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$fuenteH1: Arial, Helvetica, sans-serif;

// MIXINS

@mixin gif ($width, $heigth){
    width: $width;
    height: $heigth;
}
