// VARIABLES BACKGROUNDS

$bgBody: url(../images/bgImages/bgBody.svg);
$bgNavFoot: url(../images/bgImages/bgNavFooter.svg);

// MAPS

$paleta_color: (
    "principal": #A63C3C,
    "secundario": #594E4D,
    "titulos": rgb(233, 235, 235),
    "hover": rgba(75, 75, 75, 0.945)
    );

// VARIABLES FUENTES

$fuenteTitulo: "Didot" (serif);
$fuenteTexto: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$fuenteH1: url(https://kinsta.com/es/blog/fuentes-seguras-para-la-web/#19-helvetica);

// MIXINS

@mixin gif ($width, $heigth){
    width: $width;
    height: $heigth;
}
